body{
    background-image: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 0));
    color: aliceblue;
    text-align: justify;
}

/* .col-sm-6{
    background-color: coral;
} */

/* .col-sm-4{
    background-color: rgb(80, 255, 109);
}

.col-sm-2{
    background-color: rgb(255, 80, 170);
} */

.navbar-brand{
    color: aliceblue;
}

.nav-item :active{
    color: rgb(255, 0, 0);
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
}

.nav-link :active{
    color: rgb(255, 0, 0);
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 254, 254));
}



