body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: justify;
}

/* .col-sm-6{
    background-color: coral;
} */

/* .col-sm-4{
    background-color: rgb(80, 255, 109);
}

.col-sm-2{
    background-color: rgb(255, 80, 170);
} */
